dot_config/private_calibre/private_plugins/worddumb-lemmas/en/kll.en.en_v0.klld filter=lfs diff=lfs merge=lfs -text
dot_config/private_calibre/private_plugins/worddumb-lemmas/en/wiktionary_en_en_v0.db filter=lfs diff=lfs merge=lfs -text
dot_config/private_calibre/private_plugins/worddumb-libs-py3.11/en_core_web_lg/en_core_web_lg-3.5.0/vocab/vectors filter=lfs diff=lfs merge=lfs -text
